@import url("style.css")/*tpa=http://www.lenzhi.com/template/default/css/style.css*/;
@import url("jquery.bxslider.css")/*tpa=http://www.lenzhi.com/template/default/css/jquery.bxslider.css*/;
@import url("pscroll.css")/*tpa=http://www.lenzhi.com/template/default/css/pscroll.css*/;
/*首页*/
/*产品*/
.i_t{ width:96%; max-width:1200px; margin:0 auto; text-align:center; color:#949494; margin-top:3%;}
.i_t  span{ display:block; color:#e4e4e4; text-transform:uppercase;letter-spacing:3px;}
.i_t h2{ font-weight:blod; background:url("../images/i_bg1.png")/*tpa=http://www.lenzhi.com/template/default/images/i_bg1.png*/ center bottom no-repeat; color:#332b28;padding-bottom:20px; margin-bottom:15px; letter-spacing:2px; margin-top:-2.4%;}
.i_t p{ font-size:12px; letter-spacing:1px;}
.i_t label{ display:block;}
.i_one{ background:#fcfcfc; overflow:hidden;}
.i_two{ background:url("../images/i_bg9.png")/*tpa=http://www.lenzhi.com/template/default/images/i_bg9.png*/ center top no-repeat; overflow:hidden;}
.i_two .i_more{ text-align:center; overflow:hidden; clear:both; margin-top:9px; margin-bottom:3%;}
.i_two .i_more a{ display:inline-block; width:220px; margin:0 auto; height:44px; line-height:44px; text-align:left; text-indent:52px; letter-spacing:1px; color:#fff; background:url("../images/i_bg7.png")/*tpa=http://www.lenzhi.com/template/default/images/i_bg7.png*/ #0d816a 150px center no-repeat; font-size:14px; text-transform:uppercase; overflow:hidden; border-radius:20px;}
.i_two .i_more a:hover{transition:all 0.3s;filter: Alpha(Opacity=80);opacity: 0.8;}
/*走进霖芝*/
.i_three{ background:#fcfcfc; overflow:hidden;}
.i_three .wrap{ position:relative; margin-bottom:5%; margin-top:3%;}
.i_three .imgs{ float:left; width:81.6%; overflow:hidden;}
.i_three .imgs img{ display:block; width:100%;transition:all 0.3s;-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%);-o-filter: grayscale(100%); filter: grayscale(100%); filter: gray;}
.i_three .imgs:hover img{/*filter: Alpha(Opacity=80);opacity: 0.8;*/-webkit-filter: grayscale(0%); -moz-filter: grayscale(0%); -ms-filter: grayscale(0%);-o-filter: grayscale(0%); filter: grayscale(0%); filter:none;}
.i_three .txts{max-width: 313px; width:40%; position: absolute; right:0; background:rgba(13, 129, 106, 0.8); top: 8%;height: 90%; max-height:342px;}
.i_three .txts .cons{ margin:0 auto; width:96%; max-width:242px; color:#fff;}
.i_three .txts .cons h2{ font-weight:normal; letter-spacing:1px; margin-top:10%;}
.i_three .txts .cons .p{ font-size:12px; overflow:hidden; height:162px; line-height:18px; margin-top:8%;}
.i_three .txts .cons label{ border-top:1px solid #fff; line-height:56px; display:block; background:url("../images/i_bg7.png")/*tpa=http://www.lenzhi.com/template/default/images/i_bg7.png*/ right center no-repeat; margin-top:4%;}
.i_three .txts .cons label a{ display:block; color:#fff;}
.i_three .txts .cons label a:hover{transition:all 0.3s;filter: Alpha(Opacity=80);opacity: 0.8;}




@media screen and (max-width:1360px) {
/*产品*/
.i_t h2{padding-bottom:15px; margin-bottom:10px;}
}
@media screen and (max-width:1200px) {
/*产品*/
.i_t h2{margin-top:-2.6%;}
/*走进霖芝*/
.i_three .txts{ top:6%;}
.i_three .txts .cons .p{ height:144px;}
}
@media screen and (max-width:1000px) {
/*走进霖芝*/
.i_three .txts{ top:5%;}
}
@media screen and (max-width:960px) {
/*走进霖芝*/
.i_three .txts .cons h2{ margin-top:6%;}
.i_three .txts .cons .p{ height:126px; margin-top:6%;}
.i_three .txts .cons label{ height:46px; line-height:46px;}
}
@media screen and (max-width:830px) {
/*产品*/
.i_t h2{margin-top:-3%;}
/*走进霖芝*/
.i_three .txts .cons .p{ height:108px; margin-top:4%;}
}


@media screen and (max-width: 780px) {
/*走进霖芝*/
.i_three .imgs{ float:none; width:100%;}
.i_three .txts{ width:94%; max-width:none; right:3%;}
.i_three .txts .cons{ width:94%; max-width:none;}
.i_three .txts .cons .p{ height:auto;}
}
@media screen and (max-width: 640px) {
/*产品*/
.i_two .i_more a{ height:40px; line-height:40px; font-size:13px; width:200px;}
/*走进霖芝*/
.i_three .imgs img{ width:120%; margin-left:-10%;}
.i_three .txts .cons h2{ margin-top:4%;}


}

@media screen and (max-width: 480px) {
/*产品*/
.i_t h2{margin-top:-4.4%; letter-spacing:1px;}
.i_t label{ display:inline}
.i_two .i_more a{ height:36px; line-height:36px; font-size:12px; width:180px;background: url("../images/i_bg7.png")/*tpa=http://www.lenzhi.com/template/default/images/i_bg7.png*/ #0d816a 130px center no-repeat; text-indent:40px;}
/*走进霖芝*/
.i_three .imgs img{ width:140%; margin-left:-20%;}
}
@media screen and (max-width: 360px) {
/*产品*/
.i_t h2{margin-top:-5.7%;}
/*走进霖芝*/
.i_three .imgs img{ width:160%; margin-left:-30%;}
}