html,body{width:100%; height:100%;padding:0;margin:0;}
body{background-color:#f8f9fa; width:100%; height:auto;
font-family:"Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","瀵邦喛钂嬮梿鍛寸拨","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
text-align:center;
}
body>section{ width:16rem; text-align:left; margin:0 auto}
#top_bar{}
.fixed{z-index:999}
.topBar{ width:16rem; height:2.1333rem; background-color:#f7f7f7; position:relative; border-bottom:1px solid #d5d5d5}
.topBar .tb_left,
.topBar .tb_right{ display:block;}
.topBar .tb_left { float:left; width:1.8133rem; overflow:hidden}
.topBar .tb_left a,
.topBar .tb_right a{ display:block; color:#333; font-size:0.66rem; line-height:2.1333rem; padding-right:0.4266rem; text-decoration:none}
.topBar .tb_left a .icon{ margin-left:0.4266rem; display:block; color:#333}
.topBar .tb_right{ float:right; position:relative}
.topBar .tb_right a .icon{ display:block; }
.topBar .tb_right .icon-circle{ position:absolute; font-size:0.3rem; right:0.32rem; top:-0.6rem; color:#f00}
.topBar .icon{ font-size:1.066rem; color:#333; line-height:2.1333rem;}
.topBar .tip-title{ margin:0 auto; text-align:center; color:#333; font-size:0.8rem; line-height:2.1333rem; width:13.269333rem;}
	.topBar .tip-title .show_search{ width:11.52rem; margin:0 auto; position:relative; margin-top:0.32rem}
	.topBar .tip-title .show_search .icon{ color:#999999; font-size:0.66rem; top:0.4rem; line-height:0.64rem; left:0.4266rem;}
	.topBar .tip-title .show_search .input{ background:#fff; width:99%; color:rgb(102,102,102); font-size:0.66rem; border-radius:3rem; height:1.49rem; line-height:1.49rem; }
	.topBar .tip-title .icon{ position:absolute;}
	.topBar .tip-title .tabs a{ font-size:0.66rem; color:rgba(255,255,255,0.5); margin:0 0.64rem}
	.topBar .tip-title .tabs a.active{ font-size:0.66rem; color:#fff; position:relative; text-decoration:none}
	.topBar .tip-title .tabs a.active:before{ content:''; border-bottom:2px solid #fff; height:0px; position:absolute; bottom:-5px; left:0px; width:100%}
#id_logo{ position:absolute; left:50%; top:0.576rem; width:2.176rem; height:0.68266rem; background-size:cover; background-position:0 0; background-repeat:no-repeat; background-image:url("icons/logo@3x.png")/*tpa=http://m.jiameng.com/resource/css/icons/logo@3x.png*/; margin-left:-4.36rem}
	.topBar .tb_right button{ width:2.56rem; text-align:center; height:1.49rem; line-height:1.49rem; margin-right:0.4266rem; margin-top:0.064rem;
		border:none;
		background:none;
		font-size:0.72rem;
		color:#fff;
		/*border:2px solid #fff;
		border-radius:0.23466rem;*/
		margin-top:0.32rem;
		color:#d40d12;
		}
		.topBar .tb_right button:hover{ background:#fff; color:#d40d12}

#tabs_button{ padding:0.4266rem; border-bottom:1px solid #ebeced}
	.thumb_tabs a{ float:left; width:7.33866rem; text-align:center; height:1.237333rem; line-height:1.237333rem; display:block; background:#fff; border:2px solid #d40d12; color:rgb(51,51,51); 
	font-size:0.512rem;}
	.thumb_tabs a:first-child{ border-radius:5px 0 0 5px; border-right:0px;}
	.thumb_tabs a:last-child{ border-radius:0 5px 5px 0; }
	.thumb_tabs a.active{ background-color:#d40d12; color:#fff}

.j_search{ padding:0.4266rem; position:relative; border-bottom:1px solid #ebeced}
.j_search div.input{ text-align:center; background-color:#fff; color:#999}
.j_search .form-group{ padding-bottom:0}
.j_search .form-group .icon{ font-size:0.66rem; color:#999999; position: absolute; left:6.1866rem; line-height:1.2373rem}

#carousel{}
#carousel .tb_carousel .swiper-slide{ width:16rem; height:4.992rem}
#carousel .tb_carousel img{ width:100%; height:100%;}
#carousel .swiper-pagination-bullet{ width:0.4266rem; height:0.4266rem}
#carousel .swiper-pagination-bullet-active{ background:#d40d12}
#carousel .swiper-pagination{ text-align:right; padding-right:0.4266rem}

#tentrance{ border-bottom:1px solid #ebeced; background:#fff}
#tentrance .col{ padding-left:0.32rem;}
#tentrance .tc_item{ width:20%; height:3.4133rem; float: left; text-align:center}
#tentrance .tc_item .tc_img{ width:1.92rem; height:1.92rem; background-position: 0 0; background-repeat:no-repeat; background-size:cover; margin:0 auto;margin-top:0.344133rem;
border-radius:2rem;
color:#fff;
font-size:1.2rem;
line-height:1.92rem;
text-align:center;
box-shadow:0 2px 2px rgba(0,0,0,.2)
}
#tentrance .tc_item .tc_title{ font-size:0.5333rem; text-align:center; padding-top:0.2133rem}
 .tc_img[data-src='canyin']{ background-color:#ff6600;}
 .tc_img[data-src='fuzhuang']{background-color:#1abc9c;}
 .tc_img[data-src='jiafang']{background-color:#e74c3c;}
 .tc_img[data-src='jiaoyu']{background-color:#2980b9;}
 .tc_img[data-src='jiaju']{background-color:#3b536a;}
 .tc_img[data-src='meirong']{background-color:#9b59b6;}
 .tc_img[data-src='diy']{background-color:#3498db;}
 .tc_img[data-src='navicon']{background-color:#f1c40f;}
 .tc_img[data-src='jinrong']{background-color:#ff9600;}
 .tc_img[data-src='new']{background-color:#e73ca1;}
 
 .mod_bx{ width:16rem; background:#fff; padding-top:0.42666rem }
	.mod_bx .mod_title{ height:1.55733rem; border-top:1px solid #ebeced; border-bottom:1px solid #ebeced; line-height:1.55733rem}
	.mod_bx .mod_title span{ font-size:0.66rem; color:rgb(51,51,51); padding-left:0.42666rem}
	.mod_bx .mod_title em{ display:block; float:left; width:0.29866rem; height:100%; background-color:#000}
	.mod_bx .mod_title a{ float:right; font-size:0.5333rem; color:rgb(102,102,102); padding-right:0.42666rem}
	.mod_bx .mod_container{border-bottom:1px solid #ebeced; padding-bottom:2.02666rem}
#id_tuan .mod_bx .mod_container,
#id_weizhan .mod_bx .mod_container{ padding-bottom:0 !important}	
#id_acc .mod_bx{ margin-top:0}
#id_weizhan .list-mod{ background:#fff}
#id_acc{ margin-top:0.4266rem}

/*
.topFix{ z-index:9; position:fixed;  top:0; background:#fff;}
#list-items{ padding-top:3.968rem}	*/
.list-mod{ background:#f8f9fa; width:16rem}
	.list-mod .list-item{border-bottom:1px solid #d5d5d5; padding:0.32rem 0.32rem 0.32rem 0;width:100%; position:relative}	
	.list-mod .list-item .img{ width:5rem; height:5rem; float:left; margin-right:0.42666rem; margin-left:0.2133rem}
	.list-mod .list-item .img img{ width:100%; height:100%;}
	.list-mod .item_txt{ font-size:0.5333rem; color:#898989; margin-bottom:0.21333rem; height:0.7rem; overflow:hidden; margin-top:0.21333rem}
	.list-mod .txt_address{ margin-bottom:0.32rem}
	.list-mod .item_txt .float-right{ text-align:right}
	.list-mod .container{float:left;width:9rem}
	.list-mod .container .h4{ font-size:0.64rem}
	.list-mod .item_icons{ height:0.8rem; overflow:hidden; margin-top:0.21333rem}
	.list-mod .item_icons .button{ line-height:0.6rem; height:0.68266rem; border-radius:0; border-width:0.04266rem; padding:0 0.170666rem; border-radius:3px}
	.list-mod .float-button{ position:absolute; bottom:0.42rem; right:0.64rem; padding:0 0.32rem; height:0.8533rem; line-height:0.85333rem}
	.list-mod .float-button .h2{ font-size:0.7rem !important}
/*	.list-mod .item_icons *{ vertical-align:top}*/
	.list-mod .item_icons .button{ font-size:0.4444rem}
	.list-mod .item_icons em{ color:#fff; font-size:0.4444rem; width:0.68266rem; height:0.68266rem; line-height:0.68266rem; text-align:center; display:inline-block}
	.list-mod>.button{}
	.list-mod .container .text-red{font-size:0.64rem; line-height:0.75rem; font-family:helvetica, Microsoft Yahei}
	.list-mod .container .text-red b{font-size:0.64rem; line-height:0.75rem; font-family:helvetica, Microsoft Yahei}
	.list-mod .container .item_txt:last-child{ position:absolute; bottom:0.42666rem; left:5.64rem;}
	
.list-acc{padding-top:0.42666rem;}
	.list-acc .list-item{ padding:0; width:7.33866rem; float:left; margin:0.42666rem; margin-right:0;margin-top:0; background:#fff; /*box-shadow:0 2px 2px #ccc;*/ padding-bottom:0.4266rem}
	.list-acc .list-item .img{ float:none; width:7.33866rem; height:7.33866rem;}
	.list-acc .list-item .img img{ width:100%; height:100%; /*border-radius:0.1066rem 0.1066rem 0 0*/}
	.list-acc .list-item .container{ float:none; width:100%; padding:0 0.4266rem; padding-top:0.4266rem; }	
	.list-acc .list-item .container .h4{ height:0.68rem; line-height:.68rem; overflow:hidden; margin-bottom:0.4266rem}
	.list-acc .item_icons em{ color:#fff; font-size:0.4444rem;padding:0 4px; line-height:0.68266rem; height:0.68266rem; display:inline-block; border-radius:4px}
	.list-acc .item_icons .button{ font-size:0.4444rem; padding:0 3px; /*line-height:0.68266rem*/}
	.list-acc .button{ font-size:0.5333rem}
	.list-acc .button{ line-height:0.93866rem}

	.list-acc .item_icons em{ color:#fff; font-size:0.5333rem;}

.list-weizhan{margin-left:0.4266rem}	
	
#id_tuan{}
	#id_tuan .mod_bx .mod_title em{ background-color:#ff9402}
	#tuan_carousel{ padding:0.64rem; position:relative;}
	#tuan_carousel .swiper-slide{ width:5rem}
	#tuan_carousel .img{ }
	#tuan_carousel .img img{ width:100%; height:auto}
	#tuan_carousel .container{ width:auto; overflow:hidden; padding:0}
	#tuan_carousel .container span.text-red{ font-size:0.4266rem}
	#tuan_carousel .h3{ line-height:0.85333rem; margin:10px 0; height:0.85333rem; overflow:hidden; font-size:0.64rem; margin-bottom:0}
	#tuan_carousel .button{ height:0.768rem; line-height:0.768rem;font-size:0.5333rem; padding:0 0.2133rem}
	.time_bx{ font-size:0.5333rem; color:rgb(102,102,102); line-height:0.64rem; margin-bottom:0.34133rem}
	.time_bx span{ background-color:#666666; color:#fff; display:inline-block; width:0.81066rem; height:0.789333rem; line-height:0.789333rem; text-align:center; margin:0 0.21333rem; border-radius:0.149rem}
	.clock-timer{ font-size:0.5333rem; color:rgb(102,102,102); line-height:0.64rem; margin-bottom:0.34133rem}
	.clock-timer span{ background-color:#666666; color:#fff; display:inline-block; width:0.81066rem; height:0.789333rem; line-height:0.789333rem; text-align:center; margin:0 0.21333rem; border-radius:0.149rem}
	.clock-timer span:nth-child(1){ width:1rem}
	#tuan_carousel .swiper-pagination-bullet{ width:0.4266rem; height:0.4266rem}
	#tuan_carousel .swiper-pagination-bullet-active{ background:#d40d12}
	#tuan_carousel .swiper-pagination{ text-align:right; padding-right:0.4266rem}
	
#id_weizhan{}	
	#id_weizhan .mod_bx .mod_title em{ background-color:#1abc9c}
	#id_weizhan .h4{ line-height:0.85333rem; height:0.85333rem; overflow:hidden}
.my_weizhan{}
.my_quan{}
.ticket-button{ padding:0.4266rem 0.4266rem 0 0.4266rem;}
	.ticket-button span{ display:block; border-radius:7px; border:2px solid #959595; line-height:1.408rem; height:1.408rem; text-align:center; color:#666666}
	.icon-weizhanEnd{ 
			position:absolute; right:0px;top:0px; display:block; width:2.34666rem; height:2.34666rem; z-index:2;
			background-image:url("icons/weizhan-end.jpg")/*tpa=http://m.jiameng.com/resource/css/icons/weizhan-end.jpg*/;
			background-position:0 0;
			background-repeat:no-repeat;
			background-size:cover;
		}
	.icon-quanEnd{ 
			position:absolute; right:0px;top:0px; display:block; width:2.34666rem; height:2.34666rem; z-index:2;
			background-image:url("icons/quan-tips.png")/*tpa=http://m.jiameng.com/resource/css/icons/quan-tips.png*/;
			background-position:0 0;
			background-repeat:no-repeat;
			background-size:cover;
		}
		.status{ position:absolute; z-index:1; right:0px; top:0px; height:100%; background-color:#959595; background-image:url("icons/quan-icon.png")/*tpa=http://m.jiameng.com/resource/css/icons/quan-icon.png*/; background-position:bottom left; background-repeat:no-repeat}
			.status div{ color:#fff; padding:0 0.64rem; line-height:0.93866rem}
			.status div:first-child{ margin-top:0.64rem}
		.st_on{ background-color:#f9550d; height:4.501333rem}

#id_acc{}
	#id_acc .mod_bx .mod_title em{ background-color:#0d74d4}	
	
.content-mod{ background:#fff; padding:0.64rem; border-bottom:1px solid #cccccc}	
	.content-mod p{ font-size:0.66rem; line-height:1rem}
	
#toolBar{ position:fixed; bottom:0px; width:16rem; background:#fff; height:2.77333rem; border-top:1px solid #e5e5e5; z-index:9999; left:50%; margin-left:-8rem}	
	#toolBar .item{ float:left; width:3.2rem; height:2.77333rem; text-align:center}
	#toolBar .item_img{ width:1.0666rem; height:1.0666rem; margin:0 auto; margin-top:0.4266rem; position:relative}
	#toolBar .item_img .icon{ font-size:1.1111rem; color:#666666}
	#toolBar .item_img em{ position:absolute; width:12px; height:12px; background:#f00; border-radius:12px; right:0px}
	
	@media (max-device-width:320px){
		#toolBar .item_img .icon{ font-size:40px; color:#666666}
	}
	
	#toolBar .title{ line-height:0.64rem; font-size:0.5333rem; margin-top:0.2133rem; color:#666666}
	#toolBar .hover .item_img .icon,
	#toolBar .hover .title{ color:#d40d12}
	#toolBar[class='item-toolBar'],
	#toolBar[class='item-toolBar weizhan-toolBar']	{ height:2.02666rem}
	
	.item-toolBar{}
	.item-toolBar span{ display:block; height:2.02666rem;line-height:2.02666rem; border-radius:0 !important; border:none !important}
	.item-toolBar span.button{ font-size:0.768rem; }
	.item-toolBar span i{ display:block; height:0.896rem; line-height:0.896rem; font-size:0.896rem; overflow:hidden; margin-top:0.2133rem; color:#d40d12}
	.item-toolBar span font{ font-size:0.512rem; line-height:0.512rem; height:0.512rem; display:block; margin:0.2133rem; color:#666}
	.item-toolBar span.button-icon{ width:8rem; text-align:center;}
	.item-toolBar span .callme-now{ text-decoration:none; height:2.02666rem; display:block}
	.button#button-show-message{ width:8rem; text-align:center; padding:0; margin:0; background-color:#d40d12; color:#fff}
	.item-toolBar span.icon{ font-size:1.1111rem; color:#666666; margin-left:0.2133rem}
	.item-toolBar span.icon font{ font-size:0.4444rem; padding-left:0.2133rem}
	.weizhan-toolBar { padding:0}
	.weizhan-toolBar span{ width:100%; text-align:center}
	.weizhan-toolBar span.active{ width:100%;}
	
#loading_box,
.loading_box{ text-align: center; height:0.93866rem;color:rgb(102,102,102); font-size:0.66rem;}	
#show_loading,
.show_loading{ text-align:center; height:1.28rem; line-height:1.28rem; color:rgb(102,102,102); font-size:0.66rem;}
.show_loading{ position: relative}
.show_loading:before{ position:absolute; height:1px; width:2.5rem; background-color:#c8c9c9; left:0.4266rem; top:0.64rem; content:''; display:block}
.show_loading:after{ position:absolute; height:1px; width:2.5rem; background-color:#c8c9c9; right:0.4266rem; top:0.64rem; content:''; display:block}

/*
.search-toolBar{ background-color:#d40d12; border-bottom:1px solid #94090d; width:16rem; padding:0.32rem 0.4266rem}
	.search-toolBar .icon-search{ position:absolute; left:0.64rem; top:0.55466rem; color:#9b9b9b}
	.search-toolBar input{ float:left; width:10.28266rem; padding-left:1.066rem}
	.search-toolBar a.float-right{ color:#fff; font-size:0.66rem; display:block; line-height:1.23733rem; height:1.23733rem; padding:0 1rem}
	.search-toolBar a.float-right span.icon{ padding-left:0.4266rem}
	/*update 2015.10.28*/
	.search-toolBar .tip-title{ width:10.79466rem; margin:0; margin-left:1.792rem}
	.search-toolBar .tip-title .show_search{ width:100% !important}
	.search-toolBar .tip-title .show_search input{ background:none}
	
.search-container{ padding:0 0.4266rem}
	.search-container .sc-title{ font-size:0.57777rem; color:rgb(102,102,102); height:1.92rem; line-height:1.92rem}
	.search-container .sc-list{}
	.search-container .sc-list a{ border:1px solid #cccccc; float:left; width:3.754666rem; background:#fff; text-align:center; height:1.664rem; line-height:1.664rem; margin:-1px 0 0 -1px; overflow:hidden; font-size:0.66rem;}
	.sc-tips{ text-align:center;font-size:0.66rem; color:rgb(102,102,102); height:1.92rem; line-height:1.92rem}

#modal-search{ position: absolute; top:0px; z-index:9; height:100%; width:100%; display:none; background-color:#fff}
	#modal-search.show_on{ display:block}
	#modal-search .search-toolBar{ position:absolute; top:0px; z-index:2;}
	.modal-wrapper{ background-color:#f8f9fa; width:16rem; position:absolute; top:0px; left:0; height:100%; z-index:1}
	.modal-wrappder{ position:absolute; z-index:2}
	/*
	#modal-search .search-toolBar .icon-search{ position:absolute; left:0.64rem; top:0.55466rem; color:#9b9b9b}
	*/
	#modal-search .search-toolBar input{ float:left; /*width:10.28266rem;*/ padding-left:1.163rem}
	/*#modal-search .search-toolBar a{ color:#fff; font-size:0.66rem; display:block; line-height:1.23733rem; height:1.23733rem; padding:0 1rem}*/
	#modal-search .search-container{ position:absolute; z-index:2; top:1.898666rem}
	
#slider-category{ position:absolute; top:0px; left:0; height:100%; display:none}
	#slider-category.show_on{ display:block}
	#slider-category .modal-wrapper{ background-color:#f8f9fa; width:16rem; position:absolute; top:0px; left:0; height:100%; z-index:1}
	#slider-category .search-toolBar{ position:absolute; top:0px; z-index:2; }
	#slider-category .search-container{ position:absolute; z-index:2; top:1.898666rem; height:22rem; overflow-y: scroll}
	#slider-category .search-container .sc-list a{ display:none}
	#search_kw a{ width:auto; padding:0 0.512rem; background:none; border:none; }
	#hot_kw a{ color:#d40d12;background:none; border:2px solid #d40d12; border-radius:0.85rem; margin-right:0.4266rem; margin-bottom:0.4266rem;height:1.066rem; line-height:1.066rem;text-decoration:none}
	#hot_kw a:hover{ background:#d40d12; color:#fff; text-decoration:none}
	#hot_kw a:visited{text-decoration:none}

/*category-v2*/
.category-v2{ background-color:#eeeeee; position:absolute; top:0px; left:0px; height:100%; padding-top:1.8773rem; padding-bottom:2.77333rem; overflow:hidden; z-index:1}
	.category-v2 .ct_menu{ float:left; overflow-y: scroll; overflow-x:hidden; width:4.0533rem; height:100%; background-color:#fff}
	.category-v2 .ct_menu li a{ background-color:#fff; height:2.1333rem; line-height:2.1333rem; border-bottom:2px solid #d6d6d6; text-align:center;border-right:2px solid #d6d6d6; text-align:center; display:block; text-decoration:none}
	.category-v2 .ct_menu li a.selected{ background-color:#eee; border-right:2px solid #eee; position:relative;color:#d40d12}

	.category-v2 .ct_menu li a.selected:before{ content:''; display: block; position:absolute; top:-2px; left:0px; width:0.128rem; height:2.176rem; background-color:#d40d12}
	.category-v2 .ct_menu li a{ font-size:0.64rem;}
	.category-v2 .ct_menu ul{ padding:0}

	.category-v2 .ct_content{ float:left; width:11.09333rem; margin:0 0.4266rem; height:100%; overflow:scroll}
	.ct_banner,
	.ct_link{margin-top:0.4266rem}
	
	.category-v2 .ct_content .ct_banner{ height:4.48rem; background-color:#fff}
	.category-v2 .ct_content .ct_link a{ display:block; height:1.23733rem; line-height:1.23733rem; text-align:center; background-color:#d40d12}
	.category-v2 .ct_content .ct_link a span{ font-size:0.512rem; color:#fff}
	
	.category-v2 .ct_content .ct_list{}
	.category-v2 .ct_content .ct_list dl{margin-top:0.4266rem; margin-left:-0.4266rem}
	.category-v2 .ct_content .ct_list dt{ height:0.9133rem; font-weight:normal; font-size:0.512rem; display:block;margin-left:0.4266rem; color:#666}
	.category-v2 .ct_content .ct_list dd{ float:left; margin-left:0.4266rem; margin-bottom:0.4266rem; background-color:#fff; width:3.4133rem; padding:0}
	.ct_list dd a{ display:block}
	.ct_list .ct_list_img{ width:2.9866rem;  display:block; margin:0.2133rem;}
	.ct_list .ct_list_title{ text-align:center; height:1.0666rem; display:block}


#filter-box{}
	.filter-mod{ padding:0 0.4266rem; background:#fff; border-bottom:1px  solid #ebeced; height:1.877333rem;}
	.filter-mod .item{ float: left; width:5.03466rem;}
	.filter-mod .item { display:block; line-height:1.877333rem; text-align:center; font-size:0.66rem; color:rgb(51,51,51)}
	.filter-mod .item span{ color:#999}
	.filter-mod .item:nth-child(2){ border-left:1px solid #ebeced;border-right:1px solid #ebeced}

.filter-advance{ position:absolute; z-index:2; top:3.776rem; background-color:#fff; width:16rem}
	.filter-advance .arrow-up{ display:block; width:0.72533rem; height:0.36266rem; background-image:url("icons/arrow-up@3x.png")/*tpa=http://m.jiameng.com/resource/css/icons/arrow-up@3x.png*/; background-size:cover; background-position:0 0; background-repeat: no-repeat; position:absolute; top:-0.36266rem}
	#category-sub .arrow-up{ left:2.3466rem}
	#filter-form .arrow-up{ right:2.9rem}
	.form-submit{}
	.form-submit a{ height:1.7066rem; line-height:1.7066rem; border:none; font-size:0.66rem; color:#fff; margin-bottom:0.4266rem; text-align:center}
	.form-submit button[type=button]{ height:1.7066rem; line-height:1.7066rem; border:none; font-size:0.66rem; color:#fff; margin-bottom:0.4266rem;}
	.form-submit button[type=submit]{ height:1.7066rem; line-height:1.7066rem; border:none; font-size:0.66rem; color:#fff; margin-bottom:0.4266rem;}
	
.form-x{ padding-top:0.4266rem}
	.form-x .form-group .label{ padding:0 0.4266rem; width:4rem; height:1.4933rem; line-height:1.4933rem; font-size:0.66rem;}	
	.form-x .form-group .field{ padding:0; width:10.38933rem;}
	.form-x .form-group .field input[type=text],
	.form-x .form-group .field input[type=password],
	.form-x .form-group .field input[type=tel]{ height:1.4933rem; line-height:1.4933rem; padding:0 0.4266rem}
	.form-x .form-group .field select{ height:1.4933rem; line-height:1.4933rem; padding:0 0.4266rem; background-color:#fff}
	.form-x .form-tips{ padding:0 .4266rem; line-height:1.4933rem;}
	.form-x .form-submit{ padding:0 0.4266rem}
	.form-x .input-inline{ padding:0 0.4266rem; position:relative}
	.form-x .input-inline .input{ height:1.49333rem; padding-left:1.38666rem}
	.form-x .input-inline .icon{ position:absolute; color:#999999; font-size:0.8rem; top:0px; left:0.4266rem; display:block;height:1.49333rem; line-height:1.49333rem; width:1.49333rem; text-align:center}
	.form-x .input-inline .button{ position:absolute; right:0.4266rem;top:0px; width:4.2666rem; height:1.49333rem; padding:0; font-size:0.66rem;}
	.form-x input[type="checkbox"]{ width:0.68266rem; height:0.68266rem; vertical-align: middle}

.third-login{ text-align:center; padding-top:0.64rem}
	.third-login a{ display:inline-block; color:#fff; width:2.56rem; height:2.56rem; border-radius:1.28rem; text-align:center; line-height:2.56rem; font-size:1.28rem; margin:0 0.2133rem}
	.third-login a span{ font-size:0.4444rem;}
	.icon-qzone{ }
	.icon-qzone img{ width:1.28rem; height:1.28rem; vertical-align: baseline}
	
#filter-form{ padding:0 0.4266rem; width:100%; display:none}
	#filter-form .form-group{ height:1.7066rem; line-height:1.7066rem; font-size:0.66rem; color:rgb(51,51,51); width:100%}
	#select-type{ width:100%}
	#select-type .txt{ color:#fff !important; }
	#select-type input[type=button]{ border:0; background:none; display:block; line-height:1.7066rem;height:1.7066rem; width:100%; text-align:left; color:#e85041}
	#select-type .form-group{ border-bottom:1px solid #efefef}
	#select-type .form-group label{ width:100%; display:block; line-height:1.7066rem;height:1.7066rem}
	#select-type .form-group label span{ color:#e85041; font-size:0.66rem; margin-right:0.4266rem}
	#select-type .form-group label.active .bg-yellow{ background:#f60 !important}
	#select-type .form-group label.active .bg-blue{ background:#0ae !important}
	#select-type .form-group label.active .bg-red{ background:#e33 !important}
	#select-type .form-group label .bg-yellow,
	#select-type .form-group label .bg-blue,
	#select-type .form-group label .bg-red	
	{ background:#ddd !important}
#category-sub{ display:none}
	.sd-menu{ float:left; width:5.99466rem; height:14.08rem; overflow-y:scroll; background-color:#efefef}
	.sd-menu div{ height:1.7066rem;line-height:1.7066rem; font-size:0.66rem; padding-left:1.10933rem;}
	.sd-menu div span{ margin-right:0.64rem;}
	.sd-menu div.active{ background:#fff;}
	.sd-menu div.active span{ color:#878787}
	.sd-menu div span{ color:#aaa}
	.link-menu{ float:left; width:9.8rem; padding-left:0.8533rem; padding-right:0.4266rem;height:14.08rem; overflow-y:scroll}
	.link-menu li a{ display:block;height:1.7066rem;line-height:1.7066rem; font-size:0.66rem; border-bottom:1px solid #efefef}
	.link-menu li.active a{ color:#f83030; border-color:#f83030}

#vip-mod{ overflow:hidden; width:100%; }
	#vip-mod img{ width:100%;}
	#vip-mod embed,
	#vip-mod object{ display:none}
	#vip-mod>div{ width:100%;}
.form-checkBox{ margin-left:-0.4266rem;}
	.form-checkBox label{ width:3.456rem; display:block; margin-left:0.426rem !important; 
	margin-bottom:0.426rem !important; height:1.10933rem !important; line-height:1.10933rem !important; font-size:0.5333rem; padding:0; text-align:center; position:relative;
	border-color:#cccccc !important; border-radius:0 !important}
	.form-checkBox label.active{border-color:#f60 !important}

#item-img {width: 100%; height: 100%; top: 0px; left: -16rem; z-index: 1000000;	position: absolute; 
	filter:alpha(opacity=0); /*IE婵犲ǹ鍊濋弳鍛存晬瀹€鍕舵嫹闁哄嫬楠哥€癸拷50%*/
	-moz-opacity:0; /*Firefox缂佸鐒﹀﹢渚€鏁嶅畝鍕舵嫹闁哄嫬楠哥€癸拷50%*/
	opacity:0;/*闁稿繑婀圭划顒勬晬瀹€鍕舵嫹闁哄嫬楠哥€癸拷50%*/
 }
#item-img.active{
	filter:alpha(opacity=100); /*IE婵犲ǹ鍊濋弳鍛存晬瀹€鍕舵嫹闁哄嫬楠哥€癸拷50%*/
	-moz-opacity:1; /*Firefox缂佸鐒﹀﹢渚€鏁嶅畝鍕舵嫹闁哄嫬楠哥€癸拷50%*/
	opacity:1;/*闁稿繑婀圭划顒勬晬瀹€鍕舵嫹闁哄嫬楠哥€癸拷50%*/ 
	left:0px
	 }
	#item-img .swiper-container { height:100%}
	#item-img .swiper-slide,
	#item-dp-img .swiper-slide { text-align: center; font-size: 18px; background: #000; }
	#item-img .swiper-slide img,
	#item-dp-img .swiper-slide img { width: auto; height: auto; max-width: 100%; max-height: 100%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); transform: translate(-50%, -50%); position: absolute; left: 50%; top: 50%; }
	#item-img span.icon{ position:absolute; color:#fff; right:0.64rem; top:0.6rem; font-size:1.1111rem; z-index:100001}

#item-dp-img{width: 100%; height: 100%; position:relative}
	
#tabs-container{ overflow:hidden;}
#tabs-container .swiper-slide{ padding-top:0.4266rem; background-color:#f8f9fa}
#tabs-container #samePage,
#tabs-container #mainPage{ padding-top:0}

.item-s-mod{}
	.item-s-mod{ background:#fff; border-bottom:1px solid #e3e3e3; padding:0.5333rem 0.64rem}
	.item-s-mod span{ line-height:0.78rem;}
	.item-s-mod .item-data-icon{ padding-right:0.2133rem; display:inline-block; text-align:center}
	.item-s-mod .item-data-icon span{ font-size:0.66rem;}
	.item-s-mod .float-right span{ font-size:0.5333rem; color:rgb(102,102,102)}
	.item-s-mod .float-right .icon{ color:#666; font-size:0.66rem; padding-left:0.4266rem}
	.item-s-mod .item-data-title{ color:#666; font-size:0.66rem; padding-right:0.4266rem; width:3.8rem; display:inline-block}
	.item-s-mod .item-data-name{ color:#333; font-size:0.66rem}
	.item-data-more{ margin-top:0.2133rem}
	.item-data-more span.item-data-title{ width:2.9rem; display:inline-block}
	.item-data-more .clearfix{ height:1.28rem; overflow:hidden}
	.item-data-more span{ line-height:1.28rem; }
	.item-s-hr{ height:0.4266rem; border-bottom:1px solid #ebeced}
	
	#user-menu span[data-bgcolor]{ color:#fff; font-size:0.5333rem; width:1.024rem; display:inline-block; height:1.024rem; line-height:1.024rem; border-radius:7px}

	.add-service{ border-top:1px solid #ebeced; margin-top:0.4266rem; }
	.add-service .item-s-mod .icon{ color:#fff; font-size:0.5333rem; padding:4px 6px; }
	.add-service .item-s-mod .button{ font-size:0.5333rem; line-height:1.024rem; width:2.666rem; text-align:center; padding:0}
	.add-service .item-s-mod .time_bx{ font-size:0.5333rem; padding-left:1.23733rem}
	.add-service .item-s-mod .time_bx span{ font-size:0.57777rem; line-height:normal}
	
	.item-service{ background-color:#fff}
	.item-service span{ font-size:0.5333rem; padding-right:0.2166rem}
	.item-service .icon{ color:#e74c3c}
	
	/*hb-box*/
	.hb-box{ background-color:#ffebeb; position:relative; width:16rem; margin:0.2133rem 0; margin-left:-0.64rem;}
	.hb-box .item-data-icon{ display: inline-block; width:1.19466rem; height:1.19466rem; text-align:center; padding:0; display:block; float:left}
	.hb-box .item-data-name{ color:#d40d12; padding-left:0.4266rem; line-height:0.64rem; display:block; height:1.19466rem; line-height:1.19rem; float:left; }
	.hb-box .item-data-icon .icon{ font-size:0.896rem; line-height:1.18rem;}
	.hb-box a.button{ background:#fff; width:2.90133rem; height:1.19466rem; line-height:1.19rem; padding:0; text-align:center}
	.hb-wrapper{ padding:0.512rem 0.64rem}
	
	.item-dp{ margin-top:0.4266rem; }
	.item-dp{ border-top:1px solid #e3e3e3;}
	.item-dp .item-s-mod{ border-bottom:none !important}
	.item-dp .item-s-mod .item-data-name{ font-size:0.768rem; vertical-align: middle}
	.item-dp .item-s-mod .item-data-name span{ font-size:0.66rem;}
	.dp-list{ background-color:#fff;}
	.dp-list .dp-item{ border-bottom:1px solid #ebeced;padding:0.4266rem 0.64rem; }
	.dp-list .dp-item{ font-size:0.5333rem; color:rgb(102,102,102); }
	.dp-list .dp-item span{line-height:0.875rem; font-size:0.64rem}
	.dp-img{ margin-top:0.4266rem}
	.dp-img img{ margin-right:0.2133rem; width:2.1333rem; height:2.1333rem;}
	.dp-container{ overflow:hidden; height:1.429333rem;}
	.dp-container.active{ height:auto}
	.dp-control{ padding:0.4266rem 0 0.2133rem 0;}
	
	.about-mod{ padding:0.64rem; width:16rem; font-size:0.5333rem;}
	.about-mod p{ text-indent:48px;  line-height:1rem; padding:0.2133rem 0; font-size:0.75em;}
	.about-logo{ margin:0 auto; width:11.690666rem; height:1.962666rem}
	
	#baseInfo{ position:relative}
	#baseInfo .float-right span.text-blue{ color:#0ae}
	#baseInfo .float-right{ font-size:0.5333rem;}
	#baseInfo span.h2{ font-size:1.06666rem; font-family:helvetica}
	#baseInfo .base-title{ line-height:1rem; width:11.9466rem; overflow:hidden; height:1rem; margin-bottom:0.2133rem}
	#baseInfo .base-slogan{ line-height:0.66rem; color:rgb(102,102,102); margin-bottom:0.64rem !important; /*width:11.9466rem;*/width:100%; overflow:hidden; height:0.66rem}
	#baseInfo .base-txt{ padding-bottom:0.2133rem; font-size:0.64rem;}
	#baseInfo .float-button{ position:absolute; right:0.64rem; top:0.4266rem; border-left:1px solid #e0e0e0; padding-left:0.85333rem}
	#baseInfo .float-button .icon{ font-size:1.1111rem; color:#666666; line-height:1.0666rem}
	#baseInfo .float-button div{ font-size:0.4266rem; text-align:center; color:#666}
	#baseInfo .item-list{ padding:0.32rem 0}
	#baseInfo .item-list a.text-blue{ font-size:0.64rem}
	#moreBase ul{ padding:0;}
	#moreBase ul li{ float: left; width:50%; height:1.1rem; overflow:hidden}
	#moreBase ul{ padding-top:0.2133rem; margin-top:0.32rem; border-top:1px solid #e5e5e5}
	#moreBase ul.list-col li{ float:none; width:100%;}
	#moreBase ul.list-col li .item-data-title{ height:0.78rem;}
	#moreBase ul.list-col li .item-data-name{ height:0.78rem; overflow:hidden; width:10rem; }

	.panel,
	.panel-head{ background:#fff; border-bottom:none; padding:0px;}
	.panel-head h4{ font-size:0.768rem; }
	.panel{ border-width:1px; border-color:#e3e3e3}
	
	.panel{ margin-bottom:0.4266rem; padding:0 0.64rem; border-bottom:1px solid #e3e3e3}
	.panel-head{ line-height:1.875rem}
	.panel-body{ padding:0; padding-bottom:0.4266rem; padding-top:0.4266rem;  line-height:1rem}
	.panel-body p{
		font-size:0.66rem !important; line-height:1rem; padding-bottom:0.75rem
		}
	.panel-body,
	.panel-body p,
	.panel-body span,
	.panel-body font,
	.panel-body b{}
	.panel-body span,
	.panel-body font{ font-size:0.68266rem !important; line-height:1rem}
	.panel-body img{ width:100% !important; height:auto !important; }
	.panel-body p,
	.panel-body span{ color:#4c4c4c}
	.panel-body p span.h1{ font-size:0.938rem !important; line-height:1.19466rem}
	
	.button-float{position:fixed; bottom:3.3283rem; right:0.4266rem;  display:none; }
	.button-float>div{ width:1.7066rem; height:1.7066rem; line-height:1.6rem; background-color:#000; text-align:center;
	border-radius:0.2133rem; box-shadow:0 4px 4px rgba(0,0,0,.1);opacity:.65; margin-top:0.4266rem}
	.button-float>div i{ color:#fff; font-style:normal}
	.button-float>div i.icon{font-size:1.024rem; color:#fff}
	
	#vipButton p{ font-size:0.512rem; margin:0 0.2133rem; line-height:0.64rem; text-align:center; color:#fff; padding-top:0.2133rem; display:block}
	
	#collapse-infopage .active .panel-body{ display:block}
	#collapse-infopage .panel-body{ display:none}
	
	#collapse-infopage .panel-body section,
	#collapse-infopage .panel-body span,
	#collapse-infopage .panel-body p{line-height:initial !important}
	
.modal{ position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:1000}

.pages-img{ height:12rem; overflow:hidden; position:relative}
	
	.pages-img .image-wrapper{ padding:0; text-align:center}
	.pages-img .image-wrapper img{ height:12rem; margin:0 auto; max-width:16rem;}
	
	#banner-imgs:before{ content:''; display:block; width:100%; height:0.875rem; bottom:0; left:0; position:absolute; z-index:2;
background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%); 	
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1))); 
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0% , rgba(0, 0, 0, 0.1) 100%); 
	}

#item-data{ position:absolute; bottom:0px; z-index:9; padding-top:0.64rem; height:100%}
	#item-data .item-data{ z-index:2; position: absolute; bottom:-20.94933rem; width:100%; margin-bottom:2.02666rem; background:#fff;}
	#item-data #baseInfo{ position:relative; padding-left:5.77333rem}
	
#item-share{ position:absolute; bottom:0px; z-index:9; padding-top:0.64rem; height:100%; display:none}
	#item-share .item-data{ z-index:2; position: absolute;  width:100%; margin-bottom:2.02666rem; background:#fff;bottom:-20.94933rem;}
	#item-share #closeShare{ line-height:2.13333rem; text-align:center; font-size:0.66rem;border-top:1px solid #eee; margin-top:0.64rem}

	.map-info{ font-size:0.5333rem; color:#666; line-height:0.938666rem; padding:0.4266rem 0}

#baseLogo{ width:4.62933rem; height:4.62933rem; position:absolute; left:0.4266rem; top:-0.64rem; padding:0.2133rem; background-color:#fff; border-radius:0.14933rem; box-shadow:0 1px 1px #e3e3e3}
	#baseLogo img{ width:100%; height:100%; border-radius:0.14933rem;}

#closeData .icon{ font-size:0.9777rem; line-height:0.938666rem; color:#666666; float:right}

#baseContent{ height:14.78666rem}
@media (max-device-width:320px){
		#baseContent{ height:13rem}
	}
/*item-index scroll setting*/
/*
.pages-img{position:fixed;top:1.8773rem; z-index:1}
#item-main{ position:relative; margin-top:12rem; z-index:2}
*/

#item-data .modal-wrapper{background-color:rgba(0,0,0,0.7); height:100%; position:absolute; bottom:0px; width:100%; z-index:1; }
#item-share .modal-wrapper{background-color:rgba(0,0,0,0.7); height:100%; position:absolute; bottom:0px; width:100%; z-index:1; }
#user-base,
.user-base{ height:6.18666rem; background-image:url("bg-userbase.jpg")/*tpa=http://m.jiameng.com/resource/css/bg-userbase.jpg*/; background-position:0 0; background-size:cover; padding:0 0.4266rem; position:relative}
	.user-head{ float: left; width:4.2666rem; height:4.2666rem; margin-top:0.85333rem}
	.user-head img{ border:4px solid #fff; border-radius:2.1333rem}
	.user-baseinfo{ width:10.24rem; float:left; margin-left:0.64rem; margin-top:0.85333rem; text-align:left}
	.user-baseinfo div{ color:#fff; }
	.user-baseinfo div.h3{ margin-bottom:0.4266rem; margin-top:0.2133rem}
	.user-baseinfo .baseinfo-item{ line-height:0.64rem; margin:0.2166rem 0; font-size:0.57777rem; }
	.user-base{ text-align:center}
	.user-base .btn-login{ margin:0 auto; margin-top:2.3rem}
	.user-base>span.icon{ position:absolute; right:0.85333rem; top:50%; color:#fff; font-size:0.66rem; margin-top:-0.4266rem}
	#item-s-img{ padding:0.8533rem 0.64rem; position:relative}
	#item-s-img span.img{ width:2.133rem; height:2.133rem; display:block; position:absolute;top:0.2133rem;right:1.2rem;}
	#item-s-img span.img img{border-radius:1.0666rem}
	
	.form-x .input-file{ margin-left:0.4266rem; }
		.form-x .input-file span{ padding-right:0.4266rem}
	.modal-container .show_search{ position:relative; padding:0.4266rem; padding-top:0}
	.modal-container .show_search .icon{ position:absolute; color:#666; left:0.64rem; top:0.2133rem}
	.modal-container .show_search .input{ padding-left:1rem}
	.current-pos{ padding:0.4266rem 0.64rem; background:#fff; margin-bottom:0.4266rem}
	#posSwiper{height:9.1733rem; width:16rem; overflow:hidden}
	#posSwiper .form-checkBox{ margin-left:0 !important}
	.form-checkBox .button{ background:#fff}
	.select-pos{ background:#fff; border-top:1px solid #dddddd; width:16rem; }
	.select-pos a{ float: left; width:2.28266rem; display:block; height:1.70666rem; text-align:center; line-height:1.70666rem; position:relative}
	.select-pos a.active:before{ position:absolute; width:2.28266rem; height:1.64266rem; border-bottom:1px solid #f00; content:''; display:block;top:1px}
	.select-pos a:nth-child(8),.select-pos a:nth-child(9),.select-pos a:nth-child(10),.select-pos a:nth-child(11),.select-pos a:nth-child(12),

	.select-pos a:nth-child(13),.select-pos a:nth-child(14),
	.select-pos a:nth-last-child(1),.select-pos a:nth-last-child(2),.select-pos a:nth-last-child(3),.select-pos a:nth-last-child(4)
	{ background:#f3f3f3}
	#dp-level{ border-bottom:1px solid #efefef; background:#fff}
	#dp-textarea{ height:6.4rem !important; padding:0.4266rem 0.64rem; background:#fff}
	#dp-textarea textarea{ border:none; width:100%; height:100%; color:#333}
	#dp-upimg{padding:0.4266rem; background:#fff}
.black-wrapper{ background-color:rgba(0,0,0,0.7); height:100%; position:absolute; top:0px; width:100%; z-index:1; margin-top:3.776rem}
html.show_on{ height:100%; overflow:hidden}		
body.show_on{ height:100%; overflow:hidden}	
.scrollbox{ overflow:scroll; overflow-x:hidden}

#toolBar #live800iconlink{ width:8rem; overflow:hidden; height:2.02666rem; background:#ff9402; color:#fff; display:block; font-size:0.768rem}

/*slide-nav*/
.mui-global-nav { position: absolute; background: rgba(51,51,51,.95); right: 5px; top: 1.8773rem; font-size: 0.66rem; text-align: left; padding: 0 20px 0 0; z-index: 9999; border-radius: 2px; display:none }
.mui-global-nav-arr { font-size: 14px; position: absolute; top: -8px; right: 0.4266rem; border-left: 10px solid transparent; border-right:10px solid transparent; border-bottom: 8px solid rgba(51,51,51,.95) }
.mui-global-nav ul{ padding-left:25px;}
.mui-global-nav li a { color: #fff; line-height:1.8733rem; display: block }
.mui-global-nav li a span{ padding-right:0.4266rem}
.mui-global-nav li+li { border-top: 1px solid rgba(0,0,0,.1) }
.mui-global-nav-hide { display: none }




#page-loader{text-align: center;padding: 25px 15px;background: #fafafa;border-bottom: 1px solid #EEE;}
#page-loader .loading-text,
#page-loader .no-more-text,
#page-loader.no-more .show_loading,
#page-loader.loading .show_loading{display:none}
#page-loader .show_loading,
#page-loader.no-more .no-more-text,
#page-loader.loading .loading-text{display:block}


/*
 *  Remodal - v1.0.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
  overflow: hidden;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;

  display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: auto;

  text-align: center;

  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;

  height: 100%;
  margin-left: -0.05em;

  content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
  position: relative;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}
/*
 *  Remodal - v1.0.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

/* Default theme styles of the overlay */

.remodal-overlay {
  background: rgba(43, 46, 56, 0.9);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  -webkit-animation: remodal-overlay-opening-keyframes 0.3s;
  animation: remodal-overlay-opening-keyframes 0.3s;
}

.remodal-overlay.remodal-is-closing {
  -webkit-animation: remodal-overlay-closing-keyframes 0.3s;
  animation: remodal-overlay-closing-keyframes 0.3s;
}

/* Default theme styles of the wrapper */

.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */

.remodal {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  color: #2b2e38;
  background: #fff;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  -webkit-animation: remodal-opening-keyframes 0.3s;
  animation: remodal-opening-keyframes 0.3s;
}

.remodal.remodal-is-closing {
  -webkit-animation: remodal-closing-keyframes 0.3s;
  animation: remodal-closing-keyframes 0.3s;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */

.remodal-close {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  overflow: visible;

  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;

  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-close:hover {
  color: #2b2e38;
}

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;

  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 35px;

  content: "\00d7";
  text-align: center;
}

/* Dialog buttons */

.remodal-confirm,
.remodal-cancel {
  font: inherit;

  display: inline-block;
  overflow: visible;

  min-width: 110px;
  margin: 0;
  padding: 12px 0;

  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  border: 0;
  outline: 0;
}

.remodal-confirm {
  color: #fff;
  background: #81c784;
}

.remodal-confirm:hover {
  background: #66bb6a;
}

.remodal-cancel {
  color: #fff;
  background: #e57373;
}

.remodal-cancel:hover {
  background: #ef5350;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner {
  padding: 0;

  border: 0;
}

/* Keyframes
   ========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;
  }
}

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 700px;
  }
}

/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}
/*404*/
.error{ text-align:center; margin:0 auto; width:10.6666rem}
.error img{ margin:0.8533rem 0; width:10.6666rem; height:9.96266rem}
.error a{ display:block; height:1.792rem; text-align:center; line-height:1.792rem; color:#d40d12; font-size:0.85333rem; border:0.042666rem solid #e5e5e5; border-radius:0.896rem}
.topBar .index_logo{ line-height:1.6rem}
.index_logo img{ width:7rem; /*height:0.725333rem*/}
/*centertck*/
#centertck{ background:#fff; width:11.17866rem; height:5.20533rem; border-radius:0.2133rem; text-align:center; position:relative; box-shadow:0 5px 10px rgba(0,0,0,.5); position:fixed; z-index:8;
left:50%; margin-left:-5.589333rem; top:50%; margin-top:-5.20533rem}
#centertck #closeFixed{ position:absolute;right:0px;top:0px; display:block; width:0.93866rem; height:0.93866rem;}
#centertck #closeFixed span{ font-size:0.768rem; color:#777}
#centertck b{ font-size:1.024rem; font-weight:normal; color:#333; padding-top:0.64rem; display:block; text-align:center; padding-bottom:0.2133rem}
#centertck p{padding-bottom:0.42666rem}
#centertck .action{ text-align:center; padding-left:0.64rem}
#centertck .action li{ float: left; width:4.69333rem; height:1.36533rem}
#centertck .c_tel{ padding-left:0.4266rem}
#centertck .action li a{width:4.69333rem; height:1.36533rem;line-height:1.36533rem; text-align:center; border-radius:0.128rem; background-color:#d40d12; display:block; color:#fff; font-size:0.64rem}
#centertck .action .c_tel a{ background-color:#ff9402}
/*hao*/
#carousel .h_carousel .swiper-slide{ height:7rem}
#carousel .h_carousel img{ width:100%; height:100%}
.box-container{ background:#fff; margin-bottom:10px; border-bottom:1px solid #cecece}
.box-container .list{ padding:0 0.64rem;}
.box-container .list ul{ margin:0; padding:0}
.box-container .list-news{}
.box-container .list-news li{ border-bottom:1px solid #ccc; padding:0.64rem 0}
.box-container .list-news li:first-child{padding-top:0}
.box-container .list-top li:first-child{padding-top:0.64rem}
.box-container .list-news li:last-child{border:none}
.box-container .list-news li a{ font-size:0.64rem;}
.box-title{ padding:0.64rem; font-size:0.768rem; color:#333}
.list-top a{ color:#333333; font-size:0.768rem; display:block;}
.list-top p{ color:#787878; font-size:0.512rem; padding-top:0.3rem}
.list-tags{}
.list-tags ul{ margin-left:-0.64rem !important}
.list-tags a{ float:left; padding:0.384rem 0.36rem; background-color:#dbdbdb; border-radius:0.128rem; margin-left:0.64rem; margin-bottom:0.64rem;}
.list-img{ padding-right:0 ; padding-left:0.64rem; padding-bottom:0.64rem;}
.list-scroll{ width:100%; overflow-y: scroll}
.list-img ul{ padding:0; width:50rem}
.list-img ul li{ float: left; width:4.266rem; margin-right:0.64rem}
.list-img .swiper-slide{ }
.list-img img{ border-radius:0.128rem; border:1px solid #ccc; width:100%; height:auto}
.list-img span{ padding-top:0.32rem; font-size:0.64rem; color:#666; display:block; width:100%; overflow:hidden}
.box-container .box-body{ padding:0 0.64rem; }
.box-container .box-body p{font-size:0.64rem; line-height:1.024rem; text-indent:1.024rem}
/*panel-message*/
.panel-message2{position:relative; margin-bottom:0}
.panel-message2 .panel-head{ background-color:#fff; border-radius:0; padding:0 0.4266rem; margin-bottom:0.2133rem; text-align:left}
.panel-message2 .panel-head .text-red{ color:#d40d12}
.panel-message2 .panel-body{ padding-top:0}
.panel-message2 .form-x{ padding:0}
.panel-message2 .form-x .form-group .label{ text-align:left; width:3rem}
.panel-message2 .form-x .form-group .input{ border:none; box-shadow:none}
.panel-message2 .form-x .form-button{ margin:0; padding-top:20px; padding-bottom:10px;}
.panel-message2 .form-x .form-button .button{ padding:0.4266rem; font-size:0.64rem; line-height:1.5; border-width:2px}
.panel-message2 .form-group{ margin-bottom:10px; border-bottom:1px solid #ccc}
.form-x .form-group .field input[type=tel]{height: 1.4933rem;    line-height: 1.4933rem;    padding: 0 0.4266rem;}
/*tab*/
.tab-contrainer{ background-color:#fff; border-bottom:1px solid #d3d3d3}
.tab-contrainer .tab-item{ width:50%; text-align:center; color:#787878; text-align:center}
.tab-contrainer .tab-item span{ padding: 15px 0; display: inline-block; width:auto; margin:0 auto; line-height:1.4rem;}
.tab-contrainer .tab-item:last-child{ border-right:none}
.tab-contrainer .active span{ color:#e43a3d; border-bottom:6px solid #e43a3d}
/*flex*/
.flex{ display:flex}